*{
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li{
    padding: 20px;
}

nav .main {
    font-size: 150%;
    display: inline-block;
    flex:1;
    transform: translateX(25%);

    img {
        height: 100px;
        vertical-align: middle;
    }
}

a {
    text-decoration: none;
}

nav img {
    height: 20px;
}