main {
    position: relative;
    top: 10vh;
    display: flex;
    gap: 20px;
    padding: 20px;
}
  
.product-images {
    flex: 1;
}
  
.main-image img {
    width: 100%;
    height: 70vh;
    border: 1px solid #ddd;
    border-radius: 10px;
}
  
.image-thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
  
.image-thumbnails img {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
}
  
.product-details {
    flex: 1;
    padding: 20px;
}

.product-details h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

.product-details > p {
    margin: 10px 0;
    font-size: 18px;
}

.product-pricing {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    align-items: baseline;
}
  
.original-price {
    font-size: 20px;
    text-decoration: line-through;
    color: gray;
}
  
.discount-price {
    font-size: 28px;
    font-weight: bold;
    color: green;
}
  
.discount-percentage {
    font-size: 18px;
    color: red;
}
  
.add-to-cart-btn {
    background-color: #007bff;
    margin-top: 25px;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease; 
}

.add-to-cart-btn:hover {
    background-color: #0056b3;
}

.quantity-controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.quantity-controls button:hover {
    background-color: #0056b3;
}

.quantity-controls input {
    width: 50px;
    text-align: center;
    font-size: 18px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
}

.quantity-controls button.confirm-btn {
    background-color: #17a2b8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-controls button.confirm-btn:hover {
    background-color: #117a8b;
}
 
.ratings {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.star {
    font-size: 24px;
    margin-right: 5px;
}

.rating-number {
    margin-left: 10px;
    font-size: 18px;
    color: #333;
}